<footer class="footer">
    <span class="footer_item"> </span>
    &nbsp;

    <div class="footer_social-icons">
        {{- partial "socialIcons.html" site.Params.socialIcons -}}
    </div>
    <div class="footer_contact">
        <strong>Contact:</strong>
        <a href="mailto:jonas@jo-qu.com">jonas@jo-qu.com</a>
        &nbsp;|&nbsp;
        <a href="https://www.linkedin.com/in/jonas-quintiens-5838a01aa" target="_blank" rel="noopener">LinkedIn</a>
        &nbsp;|&nbsp;
        <a href="/contact/">Contact form</a>
    </div>
    <small class="footer_copyright">
        © {{ now.Format "2006" }} {{ with .Site.Params.author.name }}{{ . }}{{ else }}Jonas Quintiens{{ end }}.
        {{ T "footer.disclaimer" | safeHTML }}
        {{ with .Site.Params.business }}<br><span class="biz">{{ . }}</span>{{ end }}
    </small>
</footer>

{{- if .Site.Params.goToTop -}}
<a href="#" title="{{ T "footer.go_to_top" }}" id="totop">
    {{ partial "svgs/arrowUp.svg" (dict "height" 48 "width" 48) . }}
</a>
{{- end -}}
